body{
  color: #040E4C;
  background-image: url("images/overlay.png"), url("images/body.svg"), -moz-linear-gradient(75deg, #8B8E8D 15%, #8FE7D5 55%);
	position: relative;
	padding: 4em 0 2em 0;
	background-size: 128px 128px, 100% 100%, auto;
	background-repeat: repeat, no-repeat, no-repeat;
  font-family: 'Imprima', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

#banner{
  width: 100vw;
  height: 220px;
}
#logbox{
  margin: 20px;
}

#link_crear_usuario{
  color: #9edbfa;
  text-align: center;
  background-color: black;
  border-color: transparent;
}

.has-success .input-group-addon {
  color: #9edbfa;
  background-color: black;
  border-color: #0D7AF9;
}

#nuevo_font,
#nuevo_bg,
#nuevo_color,
#nuevo_titulo,
.has-success .form-control {
  border-color: #0D7AF9;
  background-color: #dceaf1;
}
.has-success .form-control:focus {
  border-color: #0D7AF9;
  background-color:  #f8f8f8;
}
.has-success .form-control-feedback {
  color: #0D7AF9;
}

#nuevo_font,
#nuevo_bg,
#nuevo_color{
  width: 7%;
  float: left;
}
#nuevo_titulo{
  width: 60%;
  float: left;
}

#title h1{
  margin: 250px 0 30px 0;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}

/* MENU DESPLEGABLE */
.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DFA85E;
  min-width: 160px;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-y: scroll;
}
.dropdown-content a {
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #F9D9AA;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #DFA85E;
}
/* FIN MENU DESPLEGABLE */



/* BOTONES*/
.btn{
  font-weight: 600;
  font-size: 15px;
  color: #040E4C;
  background-color: #17AAA5;
  border-color: #36078E;
  width: 33.1%;
}
.btn:hover{
  background-color: #DFA85E;
}
.btn-index{
  width: 50%;
}
.btn-group, .btn-group-vertical {
  width: 100%;
}

.btn-accesible{
  width: 100%;
}

.btn-canales{
  width: 50%;
}


.btn-log{
  background-color: #DCEAF1;
  color: black;
  border-color: #0D7AF9;
  width: 100%;
}
.btn-log:hover{
  background-color: #9edbfa;
  color: black;
  border-color: black;
}

.btn-preferences{
  background-color: #DCEAF1;
  color: black;
  border-color: #0D7AF9;
  float: left;
  border-width: 2px;
  width: 14%;
  height: 35px;
  /*width: 100%;*/
}
.btn-preferences:hover{
  background-color: #9edbfa;
  color: black;
  border-color: black;
}


.btn-comentario{
  width: 100%;
  border-color: #17AAA5;
}

.fa-cog{
  float: right;
  margin-right: 5%;
  font-size: 20px;
}
.fa-heart-o,
.fa-heart{
  font-size: 15px;
}
/* FIN BOTONES*/

a,
a:hover {
  color: #040E4C;
}


#info{
  padding-left: 10px;
}
#users_list{
  height: 450px;
  border: 1px solid #040E4C;
  padding: 0px;
}
.users_title{
  height: 38px;
  width: 100%;
  background-color: #17AAA5;
  text-align: center;
  border-bottom: 1px solid #040E4C;
  padding-top: 8px;
  font-size: 18px;
}
.user_page{
  padding: 8px;
}
.user_page section{
  margin-left: 15%;
}
.user_page:hover {
  background-color: #DFA85E;
}


.parkings_chart{
  padding-right: 0;
  margin-bottom: 0;
}
.table {
  border: 1px solid #040E4C;
}
.table > thead > tr > th {
  background-color: #17AAA5;
}
.table > thead > tr > th,
.table > tbody > tr > td{
  border-bottom: 1px solid #040E4C;
  font-size: 12px;
}
.table > tbody > tr:hover {
  background-color: #DFA85E;
}

th, td{
  text-align: center;
}

.like{
  font-size: 18px;
}
.favourite{
  font-size: 18px;
}


.titulo_usuario {
  font-family: 'Bungee Inline', cursive;
  margin-bottom: 10px;
  margin-top: -2px;
}

.aparcamiento_id_title{
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-top: 0px;
}

#aparcamiento_id{
  padding-left: 50px;
}

#map{
  width: 300px;
  height: 350px;
  border: 1px solid #040E4C;
}

#nuevo_comentario,
#comentarios{
  padding: 50px 0px;
  padding-right: 25px;
}

.comentario{
  padding: 20px 15px;
}

.comment_text{
  width: 790px;
  overflow: auto;
}

.comment_info{
  font-size: 12px;
}

#titulo_c,
#texto_c{
  border-color: #17AAA5;
}

#texto_c{
  height: 300px;
}


#info .row{
  padding: 20px;
}
/** CAJA ABOUT **/
.about_box {
  font-family: 'Salsa', cursive;
  font-size: 18px;
  font-weight: 100;
  margin: 0 0 25px;
  height: 450px;
  padding: 5px 20px;
  text-align: justify;
}


.panel-body{
  border: 1px solid #040E4C;
  height: 327px;
  background-color: #ccf8f0;
}
.nav-tabs{
  border-bottom: 1px solid #040E4C;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #040E4C;
  cursor: default;
  background-color: #ccf8f0;
  border: 1px solid #040E4C;
      border-bottom-color: rgb(248, 241, 12);
  border-bottom-color: transparent;
}
.nav > li > a:focus, .nav > li > a:hover {
  color: #DFA85E;
  background-color: #ccf8f0;
}
.nav-tabs > li > a:hover {
  border-color: #040E4C;
}

.nav-tabs > li > a{
  color: #17AAA5;
}

/** FIN CAJA ABOUT **/


#contador_visitas{
  margin-left: 91%;
  padding-bottom: 20px;
}

#contador_usuario{
  border: 1px solid #040E4C;
  border-radius: 10px;
  width: 40px;
  height: 32px;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-left: 96%;
  background-color: black;
  color: white;
}


#footer_container{
  border-top: solid 1px #040E4C;
  padding-top: 15px;
  text-align: center;
  font-size: 12px;
}
#ficheros{
  border-right: solid 1px #040E4C;
}
