body{
  color: #040E4C;
  background-image: url("images/overlay.png"), url("images/body.svg"), -moz-linear-gradient(75deg, #8B8E8D 15%, #8FE7D5 55%);
	position: relative;
	padding: 4em 0 2em 0;
	background-size: 128px 128px, 100% 100%, auto;
	background-repeat: repeat, no-repeat, no-repeat;
  font-family: 'Imprima', sans-serif;
  font-weight: 600;
  font-size: 15px;
}


#banner{
  width: 100vw;
  height: 220px;
}
#logbox{
  margin: 20px;
}
.has-success .input-group-addon {
  color: #9edbfa;
  background-color: black;
  border-color: #0D7AF9;
}

#nuevo_titulo,
.has-success .form-control {
  border-color: #0D7AF9;
  background-color: #dceaf1;
}
.has-success .form-control:focus {
  border-color: #0D7AF9;
  background-color:  #f8f8f8;
}
.has-success .form-control-feedback {
  color: #0D7AF9;
}

#title h1{
  margin: 250px 0 30px 0;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}

/* MENU DESPLEGABLE */
.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DFA85E;
  min-width: 160px;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-y: scroll;
}
.dropdown-content a {
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #F9D9AA;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #DFA85E;
}
/* FIN MENU DESPLEGABLE */



/* BOTONES*/
.btn{
  font-weight: 600;
  font-size: 15px;
  color: #040E4C;
  background-color: #17AAA5;
  border-color: #36078E;
  width: 33.1%;
}
.btn:hover{
  background-color: #DFA85E;
}
.btn-index{
  width: 50%;
}
.btn-group, .btn-group-vertical {
  width: 100%;
}

.btn-accesible{
  width: 100%;
}

.btn-log{
  background-color: #DCEAF1;
  color: black;
  border-color: #0D7AF9;
  width: 100%;
}
.btn-log:hover{
  background-color: #9edbfa;
  color: black;
  border-color: black;
}
/* FIN BOTONES*/

a,
a:hover {
  color: #040E4C;
}



#info{
  padding-left: 10px;
}
#users_list{
  height: 400px;
  border: 1px solid #040E4C;
  padding: 0px;
  overflow-y: scroll;
}
#users_title{
  height: 38px;
  width: 100%;
  background-color: #17AAA5;
  text-align: center;
  border-bottom: 1px solid #040E4C;
  padding-top: 8px;
  font-size: 18px;
}
.user_page{
  padding: 8px;
}
.user_page section{
  margin-left: 15%;
}
.user_page:hover {
  background-color: #DFA85E;
}

#parkings_chart{
  height: 400px;
  overflow-y: scroll;
  padding-right: 0;
  margin-bottom: 0;
}
.table {
  border: 1px solid #040E4C;
}
.table > thead > tr > th {
  background-color: #17AAA5;
}
.table > thead > tr > th,
.table > tbody > tr > td{
  border-bottom: 1px solid #040E4C;
  font-size: 18px;
}
.table > tbody > tr:hover {
  background-color: #DFA85E;
}

th, td{
  text-align: center;
}

.like{
  font-size: 18px;
}
.favourite{
  font-size: 18px;
}

/** CAJA ABOUT **/
.about_box {
  font-family: 'Salsa', cursive;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  background: #eaecd3;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  border: 1px solid #040E4C;
}
/** FIN CAJA ABOUT **/


#footer_container{
  border-top: solid 1px #040E4C;
  padding-top: 15px;
  margin-top: 40%;
  text-align: center;
  font-size: 12px;
}
#ficheros{
  border-right: solid 1px #040E4C;
}
