<!--Información de la página web-->
{% extends "index.html" %}


{% block navbar %}
  <a type="button" class="btn btn-lg" href="/">Inicio</a>
  <a type="button" class="btn btn-lg" href="/aparcamientos">Todos</a>
  <a type="button" class="btn btn-lg" href="/about">About</a>
{% endblock navbar %}


{% block title %}
  <h1>Información sobre esta página</h1>
{% endblock title %}


{% block content %}
  <div class="about_box">
    <h4>Práctica final de la asignatura de Servicios y Aplicaciones Telemáticas</h4>
  </div>
{% endblock content %}
