<!--Información de la página web-->
{% extends "index.html" %}


{% block navbar %}
  <a type="button" class="btn btn-lg" href="/">Inicio</a>
  <a type="button" class="btn btn-lg" href="/aparcamientos">Todos</a>
  <a type="button" class="btn btn-lg" href="/about">About</a>
{% endblock navbar %}


{% block title %}
  Información sobre esta página
{% endblock title %}


{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>Práctica final de la asignatura de Servicios y Aplicaciones Telemáticas</p>
    </div>
  </div>
{% endblock content %}
