<!--Información de un aparcamiento-->
{% extends "index.html" %}


{% block navbar %}
  <a type="button" class="btn btn-lg" href="/">Inicio</a>
  <a type="button" class="btn btn-lg" href="/aparcamientos">Todos</a>
  <a type="button" class="btn btn-lg" href="/about">About</a>
{% endblock navbar %}


{% block title %}
  <h1>Aparcamiento seleccionado</h1>
{% endblock title %}


{% block content %}
  <h3 class="aparcamiento_id_title"><a href="{{parking.url}}">{{parking.nombre}}</a></h3>
  <div class="row">
    <div id="aparcamiento_id" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <p>{{parking.direccion}}</p>
      <p>{{parking.barrio}}</p>
      <p>{{parking.distrito}}</p>
      <p>Coordenadas:
        <ul>
          <li>Latitud: {{parking.latitud}}</li>
          <li>Longitud: {{parking.longitud}}</li>
        </ul>
      </p>
      <p>Descripción:
        <ul>
          <li>{{parking.descripcion}}</li>
        </ul>
      </p>
      {% if parking.accesibilidad == 1 %}
        <p>Accesible: Sí</p>
      {% else %}
        <p>Accesible: No</p>
      {% endif %}
      <p>Contacto: {{parking.contacto}}</p>
      <p>Likes: {{parking.likes}}</p>
      {% if user.is_authenticated %}
        {% for fav in favoritos %}
          {% if parking.id_entidad == fav.id_entidad %}
            <p>
              <i class="fa fa-heart" aria-hidden="true"></i>
              Este aparcamiento está en tu lista de favoritos.
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 xs-hidden">
      <div id="map">
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      map = L.map("map").setView([40.4169, -3.7034], 14);
      // add an OpenStreetMap tile layer
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      marker = L.marker([{{parking.latitud}}, {{parking.longitud}}]).addTo(map)
        .bindPopup("Aparcamiento")
        .openPopup();
    });
  </script>
{% endblock content %}


{% block comments %}
  <div class="row">
    <div id="comentarios" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div class="users_title">Comentarios sobre el aparcamiento</div>
    {% for comentario in comentarios %}
      <div class="comentario">
        <h3 class="aparcamiento_id_title">{{comentario.titulo}}</h3>
        <p class="comment_text">{{comentario.texto}}</p>
        <p class="comment_info">{{comentario.autor}},&nbsp;&nbsp;&nbsp;&nbsp;{{comentario.fecha}}</p>
      </div>
    {% endfor %}
    </div>
    <div id="nuevo_comentario" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="users_title">Añadir comentario</div>
      {% if user.is_authenticated %}
        <form action="/add_comentario/{{parking.id_entidad}}/" method="POST">
          {% csrf_token %}
          Título:</br>
          <input id="titulo_c" class="form-control" type="text" name="titulo_c" placeholder="Escribe aquí el título" value="">
          </br>
          <textarea id="texto_c" class="form-control" type="text" name="texto_c" placeholder="Escribe aquí el comentario" required value=""></textarea>
          </br>
          <button class="btn btn-preferences btn-comentario" id="add_comment" type="submit">Publicar</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock comments %}
