<!--Listado de todos los aparcamientos-->
{% extends "index.html" %}

{% block navbar %}
  <a type="button" class="btn btn-lg" href="/">Inicio</a>
  <a type="button" class="btn btn-lg" href="/aparcamientos">Todos</a>
  <a type="button" class="btn btn-lg" href="/about">About</a>
{% endblock navbar %}


{% block title %}
Listado completo de aparcamientos
{% endblock title %}


{% block content %}
  <div id="parkings_chart">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Barrio</th>
          <th>
            <div class="dropdown">
              <button class="dropbtn">Distrito&nbsp;<i class="fa fa-search" aria-hidden="true"></i></button>
              <div class="dropdown-content">
                <a href="/aparcamientos/">TODOS</a>
                <a href="/filtrar_distrito/ARGANZUELA/">ARGANZUELA</a>
                <a href="/filtrar_distrito/BARAJAS/">BARAJAS</a>
                <a href="/filtrar_distrito/CARABANCHEL/">CARABANCHEL</a>
                <a href="/filtrar_distrito/CENTRO/">CENTRO</a>
                <a href="/filtrar_distrito/CHAMARTIN/">CHAMARTIN</a>
                <a href="/filtrar_distrito/CHAMBERI/">CHAMBERI</a>
                <a href="/filtrar_distrito/CIUDAD_LINEAL/">CIUDAD LINEAL</a>
                <a href="/filtrar_distrito/FUENCARRAL-EL_PARDO/">FUENCARRAL-EL PARDO</a>
                <a href="/filtrar_distrito/HORTALEZA/">HORTALEZA</a>
                <a href="/filtrar_distrito/LATINA/">LATINA</a>
                <a href="/filtrar_distrito/MONCLOA-ARAVACA/">MONCLOA-ARAVACA</a>
                <a href="/filtrar_distrito/MORATALAZ/">MORATALAZ</a>
                <a href="/filtrar_distrito/PUENTE_DE_VALLECAS/">PUENTE DE VALLECAS</a>
                <a href="/filtrar_distrito/RETIRO/">RETIRO</a>
                <a href="/filtrar_distrito/SALAMANCA/">SALAMANCA</a>
                <a href="/filtrar_distrito/SAN_BLAS-CANILLEJAS/">SAN BLAS-CANILLEJAS</a>
                <a href="/filtrar_distrito/TETUAN/">TETUAN</a>
                <a href="/filtrar_distrito/USERA/">USERA</a>
                <a href="/filtrar_distrito/VICALVARO/">VICALVARO</a>
                <a href="/filtrar_distrito/VILLAVERDE/">VILLAVERDE</a>
                <a href="/filtrar_distrito/VILLA_DE_VALLECAS/">VILLA DE VALLECAS</a>
              </div>
            </div>
          </th>




          <th>Comentarios</th>
          <th>Likes</th>
          {% if user.is_authenticated %}
            <th>Favorito</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for parking in parkings %}
          <tr class="odd gradeX">
            <td><a href="{{parking.url}}">{{parking.nombre}}</a></td>
            <td>{{parking.direccion}}</td>
            <td>{{parking.barrio}}</td>
            <td>{{parking.distrito}}</td>
            <td><a href="/aparcamientos/{{parking.id_entidad}}"> + Info</a></td>
            <td>{{parking.likes}}
              <a href="/sumar_like/{{parking.id_entidad}}">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </a>
            </td>
            {% if user.is_authenticated %}
              <td><i class="fa fa-heart" aria-hidden="true"></i><i class="fa fa-heart-o" aria-hidden="true"></i></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
