{% load staticfiles %}
<!--PÁGINA PRINCIPAL && PLANTILLA BASE-->
<!DOCTYPE html>
<html>
  <head>
    <title>Aparcamientos - SAT</title>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bungee+Inline|Imprima|Salsa|Signika:400,700">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen"/>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </head>

  <body>
    {% if user.is_authenticated %}
    <style>
      body{
        color: {{ usuario_css.color }};
        background-image: url('{% static "css/images/overlay.png" %}'), url('{% static "css/images/body.svg" %}'), -moz-linear-gradient(75deg, #8B8E8D 15%, {{usuario_css.background}} 55%);
        font-size: {{ usuario_css.font_size}}px;
      }
      a,
      a:hover {
        color: {{ usuario_css.color }};
      }
    </style>
    {% endif %}



    <header class="navbar navbar-fixed-top" id="header">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img id="banner" src='{% static "images/banner.jpg" %}'/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div id="logbox">
            {% if user.is_authenticated %}
              <div>
                <form id="login_form" action="/logout/" method="POST">
                  <div class="form-group has-success has-feedback">
                    {% csrf_token %}
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                      <span class="form-control">{{user.username}}</span>
                    </div>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(success)</span>
                  </div>
                  <button type="submit" class="btn btn-log">Salir</button>
                </form>
              </div>
            {% else %}
              <form id="login_form" action="/login/" method="POST">
                <div class="form-group has-success has-feedback">
                  {% csrf_token %}
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input id="username" type="text" class="form-control" name="username" placeholder="nombre de usuario" value="">
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span class="sr-only">(success)</span>
                </div>
                <div class="form-group has-success has-feedback">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="contraseña" value="">
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span class="sr-only">(success)</span>
                </div>
                <button type="submit" class="btn btn-log">Entrar</button>
              </form>
              <a id="link_crear_usuario" href="/registro/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O pincha aquí para crear un nuevo usuario.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            {% endif %}
          </div><!-- /LOGBOX-->
        </div>
      </div> <!-- /ROW -->
      <div class="row">
        <div id="navbar">
          <div class="btn-group">
            {% block navbar %}
              <a type="button" class="btn btn-lg btn-index" href="/aparcamientos">Todos</a>
              <a type="button" class="btn btn-lg btn-index" href="/about">About</a>
            {% endblock navbar %}
          </div>
        </div>
      </div>
    </header>


    <section id="title">
      {% block title %}
        <h1>INICIO</h1>
      {% endblock title %}
    </section>


    <section id="info">
      <div class="row">
        <div id="users_list" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          <div class="users_title">Usuarios registrados</div>
          {% for usuario_pagina in users_list %}
            <div class="user_page"><a href="/{{usuario_pagina.usuario}}/">
              <section>{{usuario_pagina.usuario}}</section>
              <section>{{usuario_pagina.titulo}}</section>
            </a></div>
          {% endfor %}
        </div>


        <main id="main_content" class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          {% block content %}
            {% if parkings_loaded %}
              {% if accesibilidad_on %}
                <a type="button" class="btn btn-accesible" href="/accesibilidad/">Ver lista completa de aparcamientos</a>&nbsp;&nbsp;
              {% else %}
                <a type="button" class="btn btn-accesible" href="/accesibilidad/">Ver sólo aparcamientos accesibles</a>&nbsp;&nbsp;
              {% endif %}
            {% else %}
              {% if error_loading %}
                <div class="alert alert-danger">
                  <strong>Error:</strong> Para cargar los aparcamientos debes estar registrado.
                </div>
              {% endif %}
              <a type="button" class="btn btn-accesible" href="/cargar_aparcamientos/">Cargar listado de aparcamientos</a>
            {% endif %}

            <h2 class="titulo_usuario">Aparcamientos con más likes:</h2>
            <div class="parkings_chart">
              <table id="tabla_likes" class="tabla_todos table table-responsive">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Barrio</th>
                    <th>Distrito</th>
                    <th>Comentarios</th>
                    <th>Likes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for parking in parkings %}
                    <tr class="odd gradeX">
                      <td><a href="{{parking.url}}">{{parking.nombre}}</a></td>
                      <td>{{parking.direccion}}</td>
                      <td>{{parking.barrio}}</td>
                      <td>{{parking.distrito}}</td>
                      <td><a href="/aparcamientos/{{parking.id_entidad}}/"> + Info</a></td>
                      <td>
                        {{parking.likes}}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="btn-group">
              <a type="button" class="btn btn-canales" href="/xml/"> Canal XML de inicio</a>
              <a type="button" class="btn btn-canales" href="/json/"> Canal JSON de inicio</a>
            </div>
          {% endblock content %}
        </main>
      </div>

      {% block comments %}
      {% endblock comments %}

    </section>





	  <footer id="footer">
      <div class="container" id="footer_container">
    		<p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</p>
        <p>
          <a id="ficheros" href="http://datos.munimadrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=202584-0-aparcamientos-residentes&mgmtid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&preview=full">Fichero XML&nbsp;&nbsp;</a>
          <a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">&nbsp;Descripción del fichero</a></p>
        <p>&copy; 2017, Nerea Del Olmo Sanz</p>
      </div>
	  </footer>
  </body>

</html>
