{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Aparcamientos - SAT</title>
  	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen"/>
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Italian_traffic_signs_-_Parcheggio_autostradale.svg/500px-Italian_traffic_signs_-_Parcheggio_autostradale.svg.png"/>
  </head>

  <body>
    <header class="headers">
        <img id="banner" src='{% static "images/banner.jpg" %}'/>
      <h2>Aparcamientos para residentes en Madrid<h2>
    </header>

    <section>

    </section>

	  <footer class="footers">
			<p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</p>
      <p>
        <a href="http://datos.munimadrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=202584-0-aparcamientos-residentes&mgmtid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&preview=full">Fichero XML.</a>
        <a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Descripción del fichero</a></p>
      <p>&copy;2017, Nerea Del Olmo Sanz</p>
	  </footer>
  </body>

</html>
