{% load staticfiles %}
<!--PÁGINA PRINCIPAL && PLANTILLA BASE-->
<!DOCTYPE html>
<html>
  <head>
    <title>Aparcamientos - SAT</title>
  	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Inline|Imprima|Salsa">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>

  <body>
    <header class="navbar navbar-fixed-top" id="header">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img id="banner" src='{% static "images/banner.jpg" %}'/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div id="logbox">
            {% if user.is_authenticated %}
              <div>
                <form id="login_form" action="/logout/" method="POST">
                  <div class="form-group has-success has-feedback">
                    {% csrf_token %}
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                      <span class="form-control">{{user.username}}</span>
                    </div>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(success)</span>
                  </div>
                  <button type="submit" class="btn btn-log">Salir</button>
              </div>
            {% else %}
              <form id="login_form" action="/login/" method="POST">
                <div class="form-group has-success has-feedback">
                  {% csrf_token %}
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input id="username" type="text" class="form-control" name="username" placeholder="nombre de usuario" value="">
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span class="sr-only">(success)</span>
                </div>
                <div class="form-group has-success has-feedback">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="contraseña" value="">
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span class="sr-only">(success)</span>
                </div>
                <button type="submit" class="btn btn-log">Entrar</button>
              </form>
              {% if form.errors %}
                <p class="alert alert-danger">Usuario o contraseña incorrectos.</p>
              {% endif %}

            {% endif %}
          </div><!-- /LOGBOX-->
        </div>
      </div> <!-- /ROW -->
      <div class="row">
        <div id="navbar">
          <div class="btn-group">
            {% block navbar %}
              <a type="button" class="btn btn-lg btn-index" href="/aparcamientos">Todos</a>
              <a type="button" class="btn btn-lg btn-index" href="/about">About</a>
            {% endblock navbar %}
          </div>
        </div>
      </div>
    </header>


    <section id="title">
      <h1>
        {% block title %}
        INICIO
        {% endblock title %}
      </h1>
    </section>

    <section id="info">
      <div id="users_list" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <div id="users_title">Usuarios registrados</div>
        {% for usuario_pagina in users_list %}
          <div class="user_page"><a href="/{{usuario_pagina.usuario}}/">
            <section>{{usuario_pagina.usuario}}</section>
            <section>{{usuario_pagina.titulo}}</section>
          </a></div>
        {% endfor %}
      </div>


      <main id="main_content" class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        {% block content %}
          {% if parkings_loaded %}
            {% if accesibilidad_on %}
              <a type="button" class="btn btn-accesible" href="/accesibilidad/">Ver lista completa de aparcamientos</a>
            {% else %}
              <a type="button" class="btn btn-accesible" href="/accesibilidad/">Ver sólo aparcamientos accesibles</a>
            {% endif %}
          {% else %}
            {% if error_loading %}
              <div class="alert alert-danger">
                <strong>Error:</strong> Para cargar los aparcamientos debes estar registrado.
              </div>
            {% endif %}
            <a type="button" class="btn btn-accesible" href="/cargar_aparcamientos/">Cargar listado de aparcamientos</a>
          {% endif %}

        {% endblock content %}
      </main>
    </section>

	  <footer id="footer">
      <div class="container" id="footer_container">
    		<p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</p>
        <p>
          <a id="ficheros" href="http://datos.munimadrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=202584-0-aparcamientos-residentes&mgmtid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&preview=full">Fichero XML&nbsp;&nbsp;</a>
          <a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">&nbsp;Descripción del fichero</a></p>
        <p>&copy; 2017, Nerea Del Olmo Sanz</p>
      </div>
	  </footer>
  </body>

</html>
