<!--Página de ususario-->
{% extends "index.html" %}


{% block navbar %}
  <a type="button" class="btn btn-lg" href="/">Inicio</a>
  <a type="button" class="btn btn-lg" href="/aparcamientos">Todos</a>
  <a type="button" class="btn btn-lg" href="/about">About</a>
{% endblock navbar %}


{% block title %}
  <h1>Página personal de usuario</h1>
{% endblock title %}


{% block content %}
  <h2>{{usuario_pagina.titulo}}
    {% if user.is_authenticated %}
      {% if pagina_propia %}
        <a href="/preferencias/"><i class="fa fa-cog" aria-hidden="true"></i></a>
      {% endif %}
    {% endif %}
  </h2>

{% endblock content %}
